langchain[openai,community,chroma,kuzu,experimental]
chromadb
rank-bm25
opencv-python
openai
easyocr
pytesseract
fastapi[standard]
uvicorn[standard]
sentence-transformers
pandas
unstructured
docx2txt
pypdf